@charset "utf-8";
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav a:hover {
	color: #dcc988;
}

body{
  background-image: url('11.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.dom{
  background: none;
}
.body-moet{
  background:none;
}

.navbar-inverse .navbar-nav>li>a{
  color:#ffffff !important;
  font-family: 'PerunRegular';
	text-transform: uppercase;
  font-weight:normal;
  font-size:1.9rem;
  
}



  header{
  	background: rgba(0, 0, 0, 0.4);
  	text-align: center;
  	position: fixed;
  	z-index: 999;
  	width: 100%;
  }

.navbar-header img{
		margin-top:-12px;
    height:60px;
		}


    .navbar-header {
      position:absolute;
    	left:50%;
    }
    .navbar-brand{
      position: relative;
      left: -50%;
    }

.navbar-toggle{
  float:left;
}



.navbar{
  position:relative;
  min-height:80px;
}


#main-navbar{
  text-align:center;
}


.logo img{
	height:50px;
	margin-right:5px;
	}

table{
	color:#3CF;
  margin:0px auto;
	width:60%;
	}

thead{
	background-color:#003;
	}

td img{
	height:60px;

	}
td{
text-align:center;
background:#000;
	}


  .navbar-inverse{
    background-color:#000002;
    opacity:0.8;
    border:0px;
}

  .navbar-collapse{
    margin-top:70px;
  }
.left-nav{
  position: relative;
  left: 0px;


}
.right-nav{
  position: relative;
  right: 0px;

}


@media  (min-width: 800px){
  .navbar-collapse{
    margin-top:10px;
  }
  .left-nav{
    position: relative;
    left: 100px;
    
  }
  .right-nav{
    position: relative;
    right: 170px;
    
  }
  .istoriq{
    position: relative;
    left: 100px;
  }
  .chandon{
    float:right;
    margin-right: 190px;
    
  }
  .magazin{
    float:right;
    
  }
  .istoriq .nav a::before {
		content: '';
		display: block;
		height:3px;
		background: #dcc988;
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	.istoriq .nav a:hover::before {
		transform: scale(1,1);
	}
  .nachalo .nav a::before {
		content: '';
		display: block;
		height:3px;
		background: #dcc988;
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	.nachalo .nav a:hover::before {
		transform: scale(1,1);
	}
  .chandon .nav a::before {
		content: '';
		display: block;
		height:3px;
		background: #dcc988;
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	.chandon .nav a:hover::before {
		transform: scale(1,1);
	}
  .magazin .nav a::before {
		content: '';
		display: block;
		height:3px;
		background: #dcc988;
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transition: transform ease-in-out 250ms;
	}
	.magazin .nav a:hover::before {
		transform: scale(1,1);
	}
  .h1-moet{
    text-align: center;
    font-weight: Bold;
    font-size: 50px;
    
  }
 
}
.div-dom-h1{
  text-align: center;
  font-family: "Regular";
  font-size: 50px;
}
.monk-1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.col-md-4{
  text-align: center;
  margin: 0 auto;
}
.magazin{
  margin-right: 0px;
}
  
  
  
  
